<div class="edit-container">
  <h2>Copyright Information</h2>
  <p>
    This software is copyright &copy; 2018 Maynooth University and all rights and responsibilities are associated therein. All images
    of manuscript pages are copyright &copy; 2018 St. Patrick's College, Maynooth.
  </p>
  <p>
    Permission to utilise this software is granted under the
    <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank">Creative Commons Attribution-NonCommercial 4.0 International License</a>.
    All references to content should be properly cited and attributed.
  </p>
  <p>
    Permission to utilise or distribute images associated with the manuscripts is at the sole discretion of
    <a href="http://www.maynoothcollege.ie/" target="_blank">St. Patrick's College, Maynooth (SPCM)</a>. No images from this website may be
    reproduced or distributed without the express permission of SPCM.
  </p>

  <!--<h2>Project Information</h2>
  <p>
    This project is part of a Ph.D. thesis presented by Shane A. McGarry and first went live in December of 2018. The
    original transcription and translation was undertaken in 2007 by a team led by Dr. John G. Keating and this software
    builds upon the work of Dr. Keating and his team (Aja Teehan, Damien Gallagher, and Prof. Thomas O'Connor). More information
    about the original 2007 project can be found <a href="http://eprints.maynoothuniversity.ie/2650/" target="_blank">here</a>.
  </p>
  <h3>About the Team</h3>
  <h4>Shane A. McGarry</h4>
  <div><mat-icon color="primary">link</mat-icon> <a href="https://www.shanemcgarry.com" target="_blank">www.shanemcgarry.com</a></div>
  <div><mat-icon color="primary" class="fab fa-twitter"></mat-icon> <a href="https://twitter.com/irishgeek79" target="_blank">@irishgeek79</a></div>
  <p>
    As of 2018, Shane is a final year Ph.D. student in Computer Science at Maynooth University under the supervision of Dr.
    John G. Keating. His research focuses on the use of data visualisations and interactivity to promote engagement with
    source material in Digital Research Environments. Prior to commencing his Ph.D. studies, Shane spent 15 years in the
    private sector as a Software Developer, UI Designer, and Development Manager. He current holds a BSc in Information Technology
    from Middle Tennessee State University in Murfreesboro, TN USA and an MA in Digital Media & Interactive Design from
    NorthEastern University in Boston, MA USA.
  </p>
  <h4>Dr. John G. Keating</h4>
  <div><mat-icon color="primary">link</mat-icon> <a href="https://www.maynoothuniversity.ie/faculty-science-engineering/our-people/john-keating" target="_blank">John Keating @ Maynooth University</a></div>
  <p>
    Dr. John G. Keating is currently a Senior Lecturer in Computer Science at Maynooth University.
  </p>
  <h4>Prof. Thomas O'Connor</h4>
  <div><mat-icon color="primary">link</mat-icon> <a href="https://www.maynoothuniversity.ie/people/thomas-oconnor" target="_blank">Thomas O'Connor @ Maynooth University</a> </div>
  <p>
    Prof. Thomas O'Connor currently serves as the Director of the Arts and Humanities Institute at Maynooth University.
  </p>-->
</div>
