@import '~@angular/material/theming';
@include mat-core();

$alcala-red: (
  50 : #eae7e7,
  100 : #cbc4c4,
  200 : #a99d9d,
  300 : #877575,
  400 : #6d5858,
  500 : #533a3a,
  600 : #4c3434,
  700 : #422c2c,
  800 : #392525,
  900 : #291818,
  A100 : #ff6e6e,
  A200 : #ff3b3b,
  A400 : #ff0808,
  A700 : #ee0000,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$alcala-brown: (
  50 : #f0eeec,
  100 : #d9d4d1,
  200 : #c0b8b2,
  300 : #a69b93,
  400 : #93857b,
  500 : #807064,
  600 : #78685c,
  700 : #6d5d52,
  800 : #635348,
  900 : #504136,
  A100 : #ffc8a4,
  A200 : #ffaa71,
  A400 : #ff8b3e,
  A700 : #ff7c25,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$alcala-purple: (
  50 : #e8e6e7,
  100 : #c7c1c4,
  200 : #a1979d,
  300 : #7b6d75,
  400 : #5f4e58,
  500 : #432f3a,
  600 : #3d2a34,
  700 : #34232c,
  800 : #2c1d25,
  900 : #1e1218,
  A100 : #ff62b9,
  A200 : #ff2fa2,
  A400 : #fb008b,
  A700 : #e1007d,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$alcala-blue: (
  50 : #e5e6e6,
  100 : #bdc2c2,
  200 : #919999,
  300 : #657070,
  400 : #445151,
  500 : #233232,
  600 : #1f2d2d,
  700 : #1a2626,
  800 : #151f1f,
  900 : #0c1313,
  A100 : #58ffff,
  A200 : #25ffff,
  A400 : #00f1f1,
  A700 : #00d7d7,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$alcala-palette-primary: mat-palette($alcala-red);
$alcala-palette-secondary: mat-palette($alcala-brown);
$alcala-palette-warn: mat-palette($alcala-purple);

$alcala-theme: mat-light-theme($alcala-palette-primary, $alcala-palette-secondary, $alcala-palette-warn);
@include  angular-material-theme($alcala-theme);
