@import '_theme';

$header-color: rgba(182,182,180,1);
$background-color: rgba(194,184,175,1);
$page-color: rgba(241,241,241,1);
$base-white: rgba(255,255,255,1);
$base-dark-grey: rgba(50,50,50,1);
$base-red: mat-color(map-get($alcala-theme, primary));
$base-brown: mat-color(map-get($alcala-theme, accent));
$base-warn: mat-color(map-get($alcala-theme, warn));
$base-brown-light: mat-color(map-get($alcala-theme, accent), 100);
$footer-color: mat-color(map-get($alcala-theme, accent), 900);


