mat-card {
  width: 45%;
  margin: 10px;
  display: inline-block;
}

mat-card-header {
  background-color: #807064;
  margin: -1.5em  !important;
  margin-bottom: 1.5em !important;
  padding-left: 1.5em;
  color: #ffffff;
}
