@import '~src/styles/_variables.scss';

mat-drawer {
  width: 3%;
  background-color: $base-warn !important;

  button {
    margin-left: -20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  mat-icon {
    color: white;
    transform: scale(1.5);
  }
}
mat-drawer-content {
  width: 97%;
  min-height: 200px
}
