<app-spinner name="dashboardSpinner"></app-spinner>
<mat-grid-list cols="10" rowHeight="30" class="mt10">
  <mat-grid-tile [colspan]="9">&nbsp;</mat-grid-tile>
  <mat-grid-tile [colspan]="1">
    <mat-select placeholder="Select a year" [(value)]="selectedYear" (selectionChange)="yearChanged($event)">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let year of this.validYears" value="{{ year }}">{{ year }}</mat-option>
    </mat-select>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="4" rowHeight="200" class="ml10 mr10" *ngIf="this.dataModel">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-info-box class="full-width mr5"
                  [bgClass]="'brown'"
                  [icon]="'receipt'"
                  [count]="this.dataModel.biggestExpense.totalAmount"
                  [label]="'Biggest Expense'"
                  [data]="this.dataModel.biggestExpense.category.charAt(0).toUpperCase() + this.dataModel.biggestExpense.category.substr(1)">
    </app-info-box>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-info-box class="full-width mr5"
                  [bgClass]="'blue'"
                  [icon]="'assignment_late'"
                  [count]="this.dataModel.mostExpensiveMonth.totalAmount"
                  [label]="'Most Expensive Month'"
                  [data]="this.getMonthTitle(this.dataModel.mostExpensiveMonth)">
    </app-info-box>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-info-box class="full-width mr5"
                  [bgClass]="'yellow'"
                  [icon]="'assignment_returned'"
                  [count]="this.dataModel.leastExpensiveMonth.totalAmount"
                  [label]="'Least Expensive Month'"
                  [data]="this.getMonthTitle(this.dataModel.leastExpensiveMonth)">
    </app-info-box>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-info-box class="full-width"
                  [bgClass]="'purple'"
                  [icon]="'assignment_turned_in'"
                  [count]="this.dataModel.busiestMonth.totalAmount"
                  [label]="'Busiest Month'"
                  [data]="this.getMonthTitle(this.dataModel.busiestMonth)">
    </app-info-box>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="2" rowHeight="400" class="ml10">
  <mat-grid-tile [colspan]="1" [rowspan]="1" *ngIf="this.stackAreaData">
    <mat-card class="full-width ml0 mr10">
      <mat-card-header>
        <mat-card-title>Expenditures Over Time</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-chart [data]="this.stackAreaData" [dateFormat]="this.dateFormat" [chartType]="'stackedArea'"></app-chart>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1" *ngIf="this.cumulativeLineData">
    <mat-card class="full-width mr10">
      <mat-card-header>
        <mat-card-title>Expenditures Over Time</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-chart [dateFormat]="this.dateFormat" [data]="this.cumulativeLineData" [chartType]="'cumulativeLine'"></app-chart>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1" *ngIf="this.lineData">
    <mat-card class="full-width mr10">
      <mat-card-header>
        <mat-card-title>Line Chart</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-chart [data]="this.lineData" [dateFormat]="this.dateFormat" [chartType]="'line'"></app-chart>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1" *ngIf="this.multiBarData">
    <mat-card class="full-width mr10">
      <mat-card-header>
        <mat-card-title>Expenditures Over Time</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-chart [data]="this.multiBarData" [dateFormat]="this.dateFormat" [chartType]="'multiBar'"></app-chart>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1" *ngIf="this.pieData">
    <mat-card class="full-width mr10">
      <mat-card-header>
        <mat-card-title>Category Breakdown</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-chart [data]="this.pieData" [dateFormat]="this.dateFormat" [chartType]="'pie'"></app-chart>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1" *ngIf="this.discreteBarData">
    <mat-card class="full-width mr10">
      <mat-card-header>
        <mat-card-title>Category Breakdown</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-chart [data]="this.discreteBarData" [dateFormat]="this.dateFormat" [chartType]="'discreteBar'"></app-chart>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1" *ngIf="this.topWords">
    <mat-card class="full-width mr10">
      <mat-card-header>
        <mat-card-title>Top 50 Words</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <angular-tag-cloud [data]="this.topWords" [overflow]="false"></angular-tag-cloud>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1" *ngIf="this.dbTopWords">
    <mat-card class="full-width mr10">
      <mat-card-header>
        <mat-card-title>Top 10 Words</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-chart [data]="this.dbTopWords" [dateFormat]="this.dateFormat" [chartType]="'discreteBar'"></app-chart>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1" *ngIf="this.pieTopWords">
    <mat-card class="full-width mr10">
      <mat-card-header>
        <mat-card-title>Top 10 Words</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-chart [data]="this.pieTopWords" [dateFormat]="this.dateFormat" [chartType]="'pie'"></app-chart>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

