<mat-drawer-container>
  <mat-drawer mode="side" opened>
    <mat-card>
      <!--<mat-card-subtitle>View Options</mat-card-subtitle>-->
      <mat-card-content>
        <mat-form-field class="features">
          <mat-select placeholder="Select a mode of visualisation" [(ngModel)]="this.features.chartType"
                      (selectionChange)="onGraphTypeChange($event)"
                      matTooltip="For a demonstration of each graph type, please see your dashboard.">
            <mat-option *ngFor="let sg of this.supportedGraphs" [value]="sg.value">{{ sg.label }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="two-column">
          <mat-select placeholder="X Axis" [(ngModel)]="this.features.xField" (selectionChange)="this.onFieldInfoChange($event)">
            <mat-option *ngFor="let sf of this.supportedXFields" [value]="sf.value">{{ sf.label }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="two-column">
          <mat-select placeholder="Y Axis" [(ngModel)]="this.features.yField" (selectionChange)="this.onFieldInfoChange($event)">
            <mat-option *ngFor="let sf of this.supportedYFields" [value]="sf.value">{{ sf.label }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="two-column">
          <mat-select placeholder="Size determined by..." [(ngModel)]="this.features.sizeField" [disabled]="!this.enableSizeField"
                      (selectionChange)="this.onFieldInfoChange($event)"
                      matTooltip="This option is only valid for scatter visualisations">
            <mat-option *ngFor="let sf of this.supportedSizeFields" [value]="sf.value">{{ sf.label }}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-button color="primary" class="two-column" (click)="this.saveChartToImage()"><mat-icon>save_alt</mat-icon> Download</button>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <!--<mat-card-subtitle>Search Options</mat-card-subtitle>-->
      <mat-card-content>
        <label>Group By</label>
        <div #groupBy class="filter">
          <mat-radio-group [required]="true" [(ngModel)]="this.searchParams.groupBy">
            <mat-radio-button *ngFor="let sg of this.supportedGroups" value="{{ sg }}" (change)="onGroupChange($event)">{{ sg.charAt(0).toUpperCase() + sg.slice(1) }}</mat-radio-button>
          </mat-radio-group>
        </div>
        <div #filters>
          <h4>Filters</h4>
          <div #yearFilter class="filter">
            <mat-checkbox [(ngModel)]="this.filters.yearEnabled" (change)="onYearChecked($event)"></mat-checkbox>
            <mat-form-field>
              <mat-select placeholder="Filter by Year" [(ngModel)]="this.searchParams.year" [disabled]="!this.filters.yearEnabled">
                <mat-option *ngFor="let y of this.validYears" [value]="y">{{ y }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div #topWordsFilter class="filter">
            <h4>Contains:</h4>
            <mat-checkbox [(ngModel)]="this.filters.topWordsEnabled"></mat-checkbox>
            <span>Top </span><mat-form-field class="word-num"><input matInput [(ngModel)]="this.searchParams.topWords" [disabled]="!this.filters.topWordsEnabled" ></mat-form-field><span>words</span>
          </div>
          <div #bottomWordsFilter class="filter">
            <mat-checkbox [(ngModel)]="this.filters.bottomWordsEnabled"></mat-checkbox>
            <span>Words that appear less than </span><mat-form-field class="word-num"><input matInput [(ngModel)]="this.searchParams.bottomWords" [disabled]="!this.filters.bottomWordsEnabled" ></mat-form-field><span>times</span>
          </div>
          <div #keywordsFilter class="filter">
            <mat-checkbox [(ngModel)]="this.filters.keywordsEnabled">Entries with the following keyword(s)</mat-checkbox>
            <mat-form-field class="keyword-filter">
              <input matInput placeholder="Keyword(s)" [(ngModel)]="this.searchParams.keywords" [disabled]="!this.filters.keywordsEnabled">
            </mat-form-field>
          </div>
          <div #categoriesFilter class="filter">
            <mat-checkbox [(ngModel)]="this.filters.categoriesEnabled" (change)="onEnableCategories($event)">The following categories</mat-checkbox>
            <mat-form-field *ngIf="this.categoryData" class="category-list">
              <mat-select placeholder="Selected Categories" [(ngModel)]="this.searchParams.filteredCategories"
                          [disabled]="!this.filters.categoriesEnabled" multiple>
                <mat-option *ngFor="let c of this.categoryData" [value]="c.category">{{ c.category }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" (click)="onSearch()">Search</button>
      </mat-card-actions>
    </mat-card>
  </mat-drawer>
  <mat-drawer-content #drawerContent>
    <mat-tab-group>
      <mat-tab label="Chart" class="chart">
        <div #chartContainer class="chart-container">
        <app-chart #appChart *ngIf="this.graphData" [height]="750" [width]="this.graphWidth"
                   [chartType]="this.features.chartType" [xField]="this.features.xField"
                   [yField]="this.features.yField" [sizeField]="this.features.sizeField"
                   [data]="this.graphData" (elementClick)="this.onElementClick($event)"></app-chart>
        </div>
      </mat-tab>
      <mat-tab label="Details">
        <table mat-table [dataSource]="this.detailData">
          <ng-container matColumnDef="categories">
            <th mat-header-cell *matHeaderCellDef>Categories</th>
            <td mat-cell *matCellDef="let d" class="w20">{{ d.categories.join(', ') }}</td>
          </ng-container>
          <ng-container matColumnDef="words">
            <th mat-header-cell *matHeaderCellDef>Words</th>
            <td mat-cell *matCellDef="let d" class="words-column">{{ d.words.join(' ') }}</td>
          </ng-container>
          <ng-container matColumnDef="reales">
            <th mat-header-cell *matHeaderCellDef>R.</th>
            <td mat-cell *matCellDef="let d" class="w5">{{ d.reales }}</td>
          </ng-container>
          <ng-container matColumnDef="maravedises">
            <th mat-header-cell *matHeaderCellDef>M.</th>
            <td mat-cell *matCellDef="let d" class="5">{{ d.maravedises }}</td>
          </ng-container>
          <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef>Year</th>
            <td mat-cell *matCellDef="let d" class="w5">{{ d.year }}</td>
          </ng-container>
          <ng-container matColumnDef="monthName">
            <th mat-header-cell *matHeaderCellDef>Month</th>
            <td mat-cell *matCellDef="let d" class="w10">{{ d.monthName }}</td>
          </ng-container>
          <ng-container matColumnDef="pageid">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let d" class="w5">
              <a target="_blank" href="/page/{{ d.pageid }}">
                <mat-icon color="primary">find_in_page</mat-icon>
              </a>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
      </mat-tab>
    </mat-tab-group>
  </mat-drawer-content>
</mat-drawer-container>
