@import '../../../styles/_variables';
.experiment-info {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-left: 2%;
  margin-right: 2%;
  a {
    color: $base-red;
  }
  img {
    margin-top: 5%;
    width: 100%;
  }
}
