@import '../../../../styles/_variables.scss';

mat-card {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  mat-card-content img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.method-cards {
  h3 {
    color: $base-red;
  }
  padding-bottom: 2%;
}

.swiper-container, .text-container {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 98%;
  margin: 1%;
  display: block;
}

a {
  text-decoration: none;
  color: $base-red;
}
mat-icon {
  line-height: 1em;
  display: inline;
  vertical-align: middle;
}

.image-container {
  margin-left: 2%;
  img {
    width: 100%;
  }
}
