<!--<swiper *ngIf="this.sampleData" class="swiper-container" [config]="this.swiperConfig">
  <div *ngFor="let d of this.sampleData" class="swiper-slide">
    <mat-card>
      <mat-card-title>{{ this.getCardTitle(d) }}</mat-card-title>
      <mat-card-subtitle>{{ this.getCardSubtitle(d) }}</mat-card-subtitle>
      <mat-card-content>
        <img [src]="this.getImageUrl(d)" alt='{{ this.getCardTitle(d) }} image' />
      </mat-card-content>z
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onViewClick(d.id)">View</button>
      </mat-card-actions>
    </mat-card>
  </div>
</swiper>-->
<div fxLayout class="text-container">
  <div fxFlex="50" fxLayoutGap="1%">
    <h2>Introduction</h2>
    <p>
      Welcome to the Alcalá Record Books. The Alcalá Record Books are a digitisation of an 18th century book of accounts
      from the Royal Irish College in Alcalá de Henares, Spain. Established in 1649, the college served as training for
      Catholic Priests from Ireland (Catholicism being outlawed in Ireland at the time). It existed until 1785 when it was
      absorbed into the Royal Irish College in Salamanca, Spain.
    </p>
    <p>
      The records here specifically deal with the monetary accounts as recorded by the rector of the college from 1774 to 1781
      (excluding 1780 which is missing from the original manuscript). The original manuscript is currently on display in the
      Russell Library at Maynooth University in Maynooth, Co. Kildare, Ireland.
    </p>
    <h3>The Digital Research Environment</h3>
    <p>
      This site is part of PhD thesis presented by
      <a href="https://www.shanemcgarry.com" target="_blank">
        Shane A. McGarry
      </a>
      and the
      <a href="https://www.maynoothuniversity.ie/computer-science" target="_blank">
        Maynooth University Department of Computer Science</a> and has been funded in part through a grant from the
      <a href="http://www.research.ie" target="_blank">Irish Research Council</a>. The goal of this project is to create a Virtual
      Research Environment which allows the user construct queries through multiple modalities of engagement with the
      source material. This is primarily accomplished in 3 ways.
    </p>
  </div>
  <div class="image-container" fxFlex="48%" fxLayoutGap="1%">
    <img src="assets/home-page.jpg" alt="Alcalá Record Books Image">
  </div>
</div>
<div fxLayout="row" class="mb10">
  <mat-card fxFlex="30" class="method-cards">
    <mat-card-header>
      <mat-card-title>
        <h3><mat-icon color="primary">search</mat-icon> Keyword Search</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        The keyword search provides the user with a standard search interface. Much like a Google
        search, the user can enter keywords and see a list of results. The keyword search also has an advanced search
        function that allows the user to specify additional criteria such as a specific year or to only include entries
        which contain the top n words in the corpus.
      </p>
    </mat-card-content>
    <mat-card-actions align="middle">
      <a mat-raised-button color="primary" href="/search">Go to Keyword Search</a>
    </mat-card-actions>
  </mat-card>
  <mat-card fxFlex="30" class="method-cards">
    <mat-card-header>
      <mat-card-title>
        <h3><mat-icon color="primary">insert_chart_outlined</mat-icon> Visualisation Search</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        The visualisation search provides the user with an alternative method of search engagement
        through the use of data visualisations. Here, the user can specify search criteria that is available in the standard
        keyword search, but rather than returning a list of results, the search is presented in the form of various types
        of charts. These charts can be manipulated, filtered, and clicked through to see the details of the data, allowing
        the user to eventually drill down to the individual manuscript page.
      </p>
    </mat-card-content>
    <mat-card-actions align="middle">
      <a mat-raised-button color="primary" href="/visualise/search/multiBar">Go to Visualisation Search</a>
    </mat-card-actions>
  </mat-card>
  <mat-card fxFlex="30" class="method-cards">
    <mat-card-header>
      <mat-card-title>
        <h3><mat-icon color="primary">dashboard</mat-icon> Customisable Dashboard </h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        The final component is that of the customisable dashboard which allows the user
        to not only create a custom dashboard to keep track of her favourite visualisations, but also build out a "story"
        that can help explain her particular research question. This component allows for a type of constructed knowledge
        that is an important factor in exploring these types of digitised manuscripts.
      </p>
    </mat-card-content>
    <mat-card-actions align="middle">
      <a mat-raised-button color="primary" href="/visualise/dashboard">Go to Custom Dashboard</a>
    </mat-card-actions>
  </mat-card>
</div>
