<div class="edit-container" *ngIf="this.data">
  <app-spinner [show]="this.showSpinner"></app-spinner>
  <div *ngIf="!this.expandedView">
    <mat-card class="front">
      <mat-card-title>
        <div fxLayout="row" fxLayoutAlign="end end">
          <h5 fxFlex="95">{{ this.data.title }}</h5>
          <div class="action-buttons" *ngIf="this.showActions">
            <button mat-icon-button color="white" (click)="editBoundaryObject()">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>
      </mat-card-title>
      <mat-card-content class="small-view">
        <app-search-results *ngIf="this.data.type === this.boundaryObjectType.SearchResult"
                            [viewMode]="'list'" [dataModel]="this.searchResults"></app-search-results>
        <app-chart *ngIf="this.data.type === this.boundaryObjectType.Chart" [chartType]="this.data.features.chartType"
                   [data]="this.chartData" [xField]="this.data.features.xField" [yField]="this.data.features.yField"
                   [width]="700" [height]="300"></app-chart>
        <app-page *ngIf="this.data.type === this.boundaryObjectType.Page" [pageid]="this.data.pageID"
                  [hideActions]="true"></app-page>
      </mat-card-content>
      <mat-card-footer>
        {{ this.data.description }}
      </mat-card-footer>
    </mat-card>
  </div>
  <div *ngIf="this.expandedView">
    <mat-card class="front">
      <mat-card-title>
        <div fxLayout="row" fxLayoutAlign="end end">
          <h5 fxFlex="95">{{ this.data.title }}</h5>
          <div class="action-buttons" *ngIf="this.showActions">
            <button mat-icon-button color="white" (click)="editBoundaryObject()">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>
      </mat-card-title>
      <mat-card-content>
        <app-search-results *ngIf="this.data.type === this.boundaryObjectType.SearchResult"
                            [viewMode]="'list'" [dataModel]="this.searchResults"></app-search-results>
        <app-chart *ngIf="this.data.type === this.boundaryObjectType.Chart" [chartType]="this.data.features.chartType"
                   [data]="this.chartData" [xField]="this.data.features.xField" [yField]="this.data.features.yField"
                   [width]="700" [height]="300"></app-chart>
        <app-page *ngIf="this.data.type === this.boundaryObjectType.Page" [pageid]="this.data.pageID"
                  [hideActions]="true"></app-page>
      </mat-card-content>
      <mat-card-footer>
        {{ this.data.description }}
      </mat-card-footer>
    </mat-card>
  </div>
</div>
