<div class="data-container">
  <h2>Registered Users</h2>
  <table mat-table [dataSource]="this.dataModel" matSort>
    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef>First Name</th>
      <td mat-cell *matCellDef="let row" class="w10">{{ row.firstname }}</td>
    </ng-container>
    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef>Last Name</th>
      <td mat-cell *matCellDef="let row" class="w10">{{ row.surname }}</td>
    </ng-container>
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>UserName</th>
      <td mat-cell *matCellDef="let row" class="w10">{{ row.username }}</td>
    </ng-container>
    <ng-container matColumnDef="emailaddress">
      <th mat-header-cell *matHeaderCellDef>Email Address</th>
      <td mat-cell *matCellDef="let row" class="w25">{{ row.emailAddress }}</td>
    </ng-container>
    <ng-container matColumnDef="roles">
      <th mat-header-cell *matHeaderCellDef>Assigned Roles</th>
      <td mat-cell *matCellDef="let row" class="w10">{{ row.roles ? row.roles.join(', ') : null }}</td>
    </ng-container>
    <ng-container matColumnDef="lastlogin">
      <th mat-header-cell *matHeaderCellDef>Last Login</th>
      <td mat-cell *matCellDef="let row" class="w25">{{ this.getFormattedDate(row.lastLogin) }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row" class="w5">
        <button mat-icon-button color="primary" (click)="editData(row)" matTooltip="Edit User">
          <mat-icon>edit</mat-icon>
        </button>
        <!--<button mat-icon-button color="primary" (click)="resetPassword(row)" matTooltip="Reset Password">
          <mat-icon>vpn_key</mat-icon>
        </button>-->
      </td>
    </ng-container>
    <ng-container matColumnDef="add">
      <th mat-header-cell *matHeaderCellDef class="w5">
        <button mat-icon-button color="primary" (click)="addPerson()" matTooltip="Add User">
          <mat-icon>add_circle</mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let row" class="w5"></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="this.displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: this.displayColumns"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>


