<app-spinner [show]="this.showSpinner"></app-spinner>
<div class="login-form">
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput placeholder="Enter username" [(ngModel)]="this.userName" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput placeholder="Enter password" [type]="hide ? 'password': 'text'" [(ngModel)]="this.password" required>
    <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility': 'visibility_off'}}</mat-icon>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="login()">Login</button>
  <div class="error-message" *ngIf="this.siteUser">
    <span *ngIf="!this.siteUser.loginToken">Invalid username or password.</span>
  </div>
</div>

