@import "../../../styles/_variables";

.image-viewer {
  padding-bottom: 10px;
  margin-top: 1%;
}

.action-button {
  border: 1px solid $base-red;
  padding-left: -16px !important;
  width: 150px;
  float: right;
  margin-right: 2%;
  margin-bottom: 8%;
  mat-icon {
    align-content: center;
    vertical-align: middle;
    margin-top: 4%;
  }
}
