.words-column {
  width: 50%;
  white-space: normal;
  word-wrap: break-word;
}

table {
  width: 100%;
}
.training-data {
  width: 96%;
}

.w10 {
  width: 10%
}

.w20 {
  width: 20%
}

.w5 {
  width: 5%;
}

.actions {
  float: right;
}
