<app-spinner name="curationSpinner"></app-spinner>
<mat-card *ngIf="this.dataModel" class="ml10 mr10 mt10 mb10 training-data">
  <mat-card-title>Data Curation</mat-card-title>
  <mat-card-header>
    <p>
      For each record, you can review the amounts and the primary words that make up each transaction. There is also a link
      to the actual page in the archive that will allow you to read the full transaction within the context of the other transactions
      on the page. Next to the "Categories" column is a button (looks like a pencil) that will allow you to edit the
      categories (add new categories or remove existing ones) on the entry. To add new ones, simply type into the box in
      the popup form followed by either a comma or by pressing the [ENTER] key. To remove an item, click the "x" next to
      it's chip. When you are finished, please click the "Save" button on the popup form. NOTE: please try to keep the
      total number of categories limited as too many categories becomes difficult to visualise.
    </p>
  </mat-card-header>
  <mat-card-content>
  <table mat-table [dataSource]="this.dataModel">
    <!--pageid Column-->
    <ng-container matColumnDef="pageid">
      <th mat-header-cell *matHeaderCellDef>Link to Page</th>
      <td mat-cell *matCellDef="let row" class="w10"><a href="/page/{{ row.pageid }}" target="_blank">{{ row.pageid }}</a></td>
    </ng-container>
    <!--maravedises Column-->
    <ng-container matColumnDef="maravedises">
      <th mat-header-cell *matHeaderCellDef>Maravedí</th>
      <td mat-cell *matCellDef="let row" class="w5">{{ row.maravedises }}</td>
    </ng-container>
    <!--reales Column-->
    <ng-container matColumnDef="reales">
      <th mat-header-cell *matHeaderCellDef>Real</th>
      <td mat-cell *matCellDef="let row" class="w5">{{ row.reales }}</td>
    </ng-container>
    <!--date Column-->
    <ng-container matColumnDef="month">
      <th mat-header-cell *matHeaderCellDef>Date (Month &amp; Year)</th>
      <td mat-cell *matCellDef="let row" class="w10">{{ this.getDateInfo(row.month, row.year) }}</td>
    </ng-container>
    <!--words Column-->
    <ng-container matColumnDef="words">
      <th mat-header-cell *matHeaderCellDef>Words</th>
      <td mat-cell *matCellDef="let row" class="words-column mr5 ml5">{{ row.words.join(', ') }}</td>
    </ng-container>
    <!--categories Column-->
    <ng-container matColumnDef="categories">
      <th mat-header-cell *matHeaderCellDef>Categories</th>
      <td mat-cell *matCellDef="let row" class="categories-column mr5 ml5">{{ row.categories.join(', ') }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" (click)="editData(row)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="this.displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: this.displayColumns;"></tr>
  </table>
  <mat-paginator #dataPaginator [pageSizeOptions]="[10,25,50,100]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
  <!--<mat-card-actions align="right">
  <button mat-raised-button color="primary" (click)="this.onSave()">Save</button>
</mat-card-actions>-->
</mat-card>

