<div class="full-width page-content">
  <mat-tab-group color="primary" class="mt5 mb5">
    <mat-tab label="Basic Search" fxLayout>
      <div class="mt20">
        <mat-form-field appearance="outline" disabled="false" fxFlex="100%" fxFill >
          <mat-label>Keyword(s)</mat-label>
          <input matInput type="search" placeholder="Search Phrase" [(ngModel)]="this.searchParams.keywords" (keyup.enter)="this.showSpinner = true; onSearchClick()">
          <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="this.searchParams.keywords=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </mat-tab>
    <mat-tab label="Advanced Search" fxLayout fxLayoutGap="10px">
      <div class="mt20">
        <mat-form-field appearance="outline" disabled="false" fxFlex="100%" fxFill>
          <mat-label>Keyword(s)</mat-label>
          <input matInput type="search" placeholder="Search Phrase" [(ngModel)]="this.searchParams.keywords" (keyup.enter)="this.showSpinner = true; onSearchClick()">
          <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="this.searchParams.keywords=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <h4>Additional Filters</h4>
      <mat-form-field fxFlex="30" class="mrp5" appearance="outline">
        <mat-select placeholder="Select a year" [(ngModel)]="this.searchParams.year" name="year">
          <mat-option *ngFor="let y of this.availableYears" [value]="y">{{ y }}</mat-option>
        </mat-select>
      </mat-form-field>
      <span fxFlex="30" class="mrp5">
        <span>Top</span>
        <mat-form-field class="word-num" appearance="outline">
          <input matInput [(ngModel)]="this.searchParams.topWords">
        </mat-form-field>
        <span>Words</span>
      </span>
      <span class="mrp5" fxFlex="30">
        <span>Words appearing less than </span>
        <mat-form-field class="word-num"  appearance="outline">
          <input matInput [(ngModel)]="this.searchParams.bottomWords">
        </mat-form-field>
        <span>times</span>
      </span>
    </mat-tab>
  </mat-tab-group>
  <button mat-raised-button color="primary" (click)="this.showSpinner = true; onSearchClick()">Search</button>
</div>
<!--<mat-divider></mat-divider>-->
<div *ngIf="showSpinner">
  <!--<mat-card>
    <mat-card-content>
      <mat-progress-spinner color="primary" mode="indeterminate" [value]="50"></mat-progress-spinner>
    </mat-card-content>
  </mat-card>-->
  <mat-progress-spinner color="primary" mode="indeterminate" [value]="50"></mat-progress-spinner>
</div>
<mat-accordion *ngIf="this.searchHistory" class="ml10">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Recent Searches</mat-panel-title>
      <mat-panel-description>View your recent searches</mat-panel-description>
    </mat-expansion-panel-header>
    <mat-grid-list *ngIf="this.searchHistory" cols="4" rowHeight="200px" class="container page-content">
      <mat-grid-tile *ngFor="let h of this.searchHistory" [colspan]="1" [rowspan]="1">
        <mat-card class="search-card">
          <mat-card-content>
            <div>
              <span class="bold">Keywords Used: </span><span>{{ h.params.keywords }}</span>
            </div>
            <div *ngIf="this.checkForValue(h.params.year)">
              <span class="bold">Year: </span><span>{{ h.params.year }}</span>
            </div>
            <div *ngIf="this.checkForValue(h.params.topWords)">
              <span>Only show the top <span class="bold">{{ h.params.topWords }}</span> words</span>
            </div>
            <div *ngIf="this.checkForValue(h.params.bottomWords)">
              <span>Only show words appearing less than <span class="bold">{{ h.params.bottomWords }}</span></span>
            </div>
            <mat-divider></mat-divider>
            <div>
              <span class="bold">Total Results: </span> {{ h.totalHits }}
            </div>
            <button mat-raised-button color="primary" (click)="this.showSpinner = true; onHistoryClick(h._id)">View</button>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-expansion-panel>
</mat-accordion>
<!--<h3 *ngIf="this.searchHistory" class="ml10">Recent Searches</h3>
<mat-grid-list *ngIf="this.searchHistory" cols="4" rowHeight="200px" class="container page-content">
  <mat-grid-tile *ngFor="let h of this.searchHistory" [colspan]="1" [rowspan]="1">
    <mat-card class="search-card">
      <mat-card-content>
        <div>
          <span class="bold">Keywords Used: </span><span>{{ h.params.keywords }}</span>
        </div>
        <div *ngIf="this.checkForValue(h.params.year)">
          <span class="bold">Year: </span><span>{{ h.params.year }}</span>
        </div>
        <div *ngIf="this.checkForValue(h.params.topWords)">
          <span>Only show the top <span class="bold">{{ h.params.topWords }}</span> words</span>
        </div>
        <div *ngIf="this.checkForValue(h.params.bottomWords)">
          <span>Only show words appearing less than <span class="bold">{{ h.params.bottomWords }}</span></span>
        </div>
        <mat-divider></mat-divider>
        <div>
          <span class="bold">Total Results: </span> {{ h.totalHits }}
        </div>
        <button mat-raised-button color="primary" (click)="this.showSpinner = true; onHistoryClick(h._id)">View</button>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>-->
<mat-divider></mat-divider>
<div class="clear"></div>
<div *ngIf="this.dataModel" class="search-results container page-content">
  <div class="full-width">
    <mat-button-toggle-group value="false">
      <mat-button-toggle selected="true" value="false" (change)="this.isTile = false;" matTooltip="View List">
        <mat-icon>view_list</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="true" (change)="this.isTile = true;" matTooltip="View Tiles">
        <mat-icon>view_comfy</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <span class="query-info">Showing {{ getBeginHits() }} - {{ getEndHits() }} of {{ this.dataModel.totalHits }} results </span>
  <div *ngIf="!isTile" class="result-detail">
   <!-- <div *ngFor="let page of dataModel.pages">
      <div class="full-width">
        <h3><a href="{{ '/page/' + page.id.trim() }}">{{ page.title }}</a></h3>
      </div>
      <div class="full-width matches-detail">
        <span>{{ page.matchesString }}</span>
      </div>
      <div class="full-width result-snippet" [innerHTML]="page.textSnippet">
      </div>
    </div>-->
    <table mat-table [dataSource]="this.dataModel.pages">
      <ng-container matColumnDef="title" class="w10">
        <th mat-header-cell *matHeaderCellDef>Page Title</th>
        <td mat-cell *matCellDef="let p">{{ p.title }}</td>
      </ng-container>
      <ng-container matColumnDef="matches" class="w20">
        <th mat-header-cell *matHeaderCellDef>Matches</th>
        <!--<td mat-cell *matCellDef="let p">{{ p.matchesString }}</td>-->
        <td mat-cell *matCellDef="let p">
          <ul>
            <li *ngFor="let m of p.matchesArray">{{  m['key'] + ' (' + m['value'] + ') ' }}</li>
          </ul>
        </td>
      </ng-container>
      <ng-container matColumnDef="description" class="words-column">
        <th mat-header-cell *matHeaderCellDef>Text Snippet</th>
        <td mat-cell *matCellDef="let p" [innerHTML]="formatTextSnippet(p.textSnippet)"></td>
      </ng-container>
      <ng-container matColumnDef="id" class="w5">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let p">
          <a [href]="'/page/' + p.id.trim()">
            <mat-icon color="primary">find_in_page</mat-icon>
          </a>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="this.displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: this.displayedColumns;"></tr>
    </table>
  </div>
  <div *ngIf="isTile">
    <mat-grid-list cols="5">
      <mat-grid-tile *ngFor="let page of dataModel.pages" [colspan]="1" [rowspan]="1">
        <mat-card >
          <mat-card-header>
            <mat-card-title><strong>{{ page.title }}</strong></mat-card-title>
          </mat-card-header>
          <img mat-card-image src="{{ this.imageBase + page.id.trim() + '.jpg' }}" alt="Photo of page" />
          <mat-card-content>
            <ul>
              <li *ngFor="let s of page.matchesArray">{{ s }}</li>
            </ul>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" routerLink="{{ '/page/' + page.id.trim() }}">VIEW</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="align-center" fxLayout="row" fxLayoutAlign="center center">
    <button mat-icon-button [disabled]="this.currentIndex == 1" (click)="onNavClick(this.currentIndex - 1)" >
      <mat-icon aria-label="Previous">navigate_before</mat-icon>
    </button>
    <ng-container *ngFor="let item of this.getPageArray(); let i = index;">
      <button mat-mini-fab color="primary" (click)="onNavClick(i + 1)">{{ i + 1 }}</button>
    </ng-container>
    <button mat-icon-button [disabled]="this.currentIndex == this.dataModel.totalPageResults" (click)="onNavClick(this.currentIndex + 1)">
      <mat-icon aria-label="Next">navigate_next</mat-icon>
    </button>
  </div>
</div>
