@import '../../../styles/_variables.scss';

h1,h2,h3,h4 {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.search-fields {
  margin-top: 20px;
  margin-right: 1%;
  width: 98%;
}

.action-button {
  border: 1px solid $base-red;
  padding-left: -16px !important;
  width: 150px;
  mat-icon {
    align-content: center;
    vertical-align: middle;
    margin-top: 4%;
  }
}

.page-limit {
  float: right;
  margin-right: 2%;
  text-align: right;
}


.search-results {
  padding-top: 1%;
}

.search-card {
  width: calc(100% - 70px);
  height: calc(100% - 70px);
  max-height: 100%;
  button {
    float: right;
  }
  div {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.word-num {
  width: 5%;
  margin-left: 1%;
  margin-right: 1%;
}

.bold {
  font-weight: bold;
}

.mrp5 {
  margin-right: 5%;
}

mat-tab-group {
  max-width: 98%;
}

.paginator {
  margin: 0 auto;
  padding-top: 20px;
}

.mat-mini-fab {
  margin-left: 10px !important;
}


mat-button-toggle-group {
  margin-bottom: 50px;
  margin-right: 20px;
  float: right;
}

mat-panel-title {
  color: $base-red;
  font-weight: bold;
}

.align-center {
  /*position: relative;
  margin-left: 30%;
  margin-top: 30px;*/
  margin-top: 1%;
}

.query-info {
  color: grey;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-bottom: 10px;
  margin-top: -10px;
  display: block;
}

mat-progress-spinner {
  margin-left: auto;
  margin-right: auto;
}

